services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    image: next-blog:latest
    ports:
      - '127.0.0.1:3802:3000'
    volumes:
      - './posts:/app/posts/'
    restart: always